/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/06/2018, 00:56:52
    Author     : Saniel
*/



img{
    position: absolute;
    margin-left: 160px;
}

#botao{
    margin-top: 350px;
}

